.LoginContent{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 10%;
}
.LoginPage{
    text-align: center;
    
}
.Textfield{
    width: 40%;
}
.LoginForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    
}