.bg{
    background-color: red;
}

.HeaderImage{
    
    background-image: url(./HomeImage.png);
    background-size:cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 15vh;
}