.NavList{
    list-style: none;
    text-decoration: none;
    justify-content: space-between;
    position: fixed;
    z-index: 999999999999;

}
.NavMenu{
    width: 20%;
    display: flex;
    justify-content: space-around;
}
.NavAuth{
    width: 20%;
    display: flex;
    justify-content: space-around;
}