.NavList{
    list-style: none;
    text-decoration: none;
    justify-content: space-between;
}
.NavMenu{
    width: 20%;
    display: flex;
    justify-content: space-around;
}
.NavAuth{
    width: 20%;
    display: flex;
    justify-content: space-around;
}