.wrapper {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}

.title {
  font-size: 0.95rem;
}

@media (min-width: 600px) {
  .title {
    font-size: 1.1rem;
  }
}

@media (min-width: 900px) {
  .title {
    font-size: 1.1rem;
  }
}


.productsSwiper {
  padding: 20px 0 40px 0;
}
